.menu-anchor:hover {
    color: #141b2d !important;
}

#root > div > div > aside > div > nav > ul > li > a {
    background-color: #141b2d !important;
}
#root > div > div > aside > div > nav > ul > li :hover {
    color: #e0e0e0 !important;
}
